body {
    cursor: pointer;
}

table td {
    position: relative;
    width: 5em;
    height: 5em;
    background-color: #313131;
}

.black {
    background-color: #c5c5c5;
}

td div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;

}

.light {
    color: white;
}

.dark {
    color: black;
}